<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>添加类别</title>
    <meta charset="utf-8"/>
</head>
<body>
<div th:include="header::head"></div>

<div id="main">
    <!-- Thread Start -->
    <div class="t" style="margin-bottom:0px; border-bottom:0">
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <th class="h">
                    <strong class="fl w"><b>添加类别</b></strong>
                </th>
            </tr>
        </table>
    </div>
    <form th:action="@{/category/add}" th:object="${categoryVO}" method="post">
        <div class="t t2">
            <table cellspacing="0" cellpadding="0" width="100%"
                   style="table-layout:fixed;border-top:0">
                <tr class="tr1 r_one">
                    <th style="text-align:right;width:20%" class="r_two ">
                        名称
                    </th>
                    <th style="vertical-align:bottom;padding-left:15px;border:0">
                        <input type="text" th:field="*{name}"/>
                        <br/><br/>
                        <button type="submit" class="btn">添加</button>
                    </th>
                </tr>
            </table>
        </div>
    </form>
</div>

<div th:include="footer::foot"></div>
</body>
</html>