<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>我的论坛</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}" />
</head>
<body>
<div th:include="header::head"></div>

<div style="width:940px;margin: auto">
    <div th:each="category:${categoryList}">
        <div class="t">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <th class="h" colspan="6">
                        <a class="closeicon fr" style="cursor:pointer;"
                           onclick="return IndexDeploy('85',0)">
                            <img id="img_85" src="../static/images/index/cate_fold.gif"
                                 th:src="@{/images/index/cate_fold.gif}"/>
                        </a>
                        <h2>
                            &raquo;
                            <a th:href="@{/category/list(id=${category.id})}" href="listCategory.html">
                                <div th:text="${category.name}" style="display: inline-block"></div>
                            </a>
                        </h2>
                    </th>
                </tr>
                <tr></tr>
                <tr class="tr2">
                    <td width="*" colspan="2" class="tac">论坛</td>
                    <td class="tal y-style e" style="width:5%">主题</td>
                    <td class="tal y-style e" style="width:5%">文章</td>
                    <td class="tal y-style f" style="width:40%">最后发表/最后回复</td>
                    <td class="y-style" style="width:10%">版主</td>
                </tr>
                <tbody id="cate_85" style="display:;">
                <tr class="tr3 f_one" th:each="board:${category.boards}">
                    <td class="icon tac" width="45">
                        <a th:href="@{/thread/page/list(boardId=${board.id})}">
                            <img src="../static/images/new.gif" th:src="@{/images/new.gif}"/>
                        </a>
                    </td>
                    <th>
                        <h3 class="b">
                            <a th:href="@{/thread/page/list(boardId=${board.id})}">

                                <div th:text="${board.name}"></div>
                            </a>
                        </h3>
                        <br/>
                        <span class="smalltxt gray">
                            <div th:text="${board.description}"></div></span>
                    </th>
                    <td class="tal y-style e">
                        <span class="f10">
                            <div th:text="${board.threadCount}"></div></span>
                        <br/>
                    </td>
                    <td class="tal y-style e">
                        <span class="f10">
                            <div th:text="${board.replyCount}"></div></span>
                        <br/>
                    </td>
                    <th>
                        <div th:if="${board.lastThread!=null}">
                            <a th:href="@{/reply/page/list(threadId=${board.lastThread.id})}" class="a2">
                                <div th:text="${board.lastThread.title}"></div>
                            </a>
                            <br/>
                            <span class="f12">
                                <a th:href="@{/person/viewInfoById(id=${board.lastThread.author.id})}">
                                    <div th:text="${board.lastThread.author.account}"></div>
                                </a>
                            </span>
                            <span class="f9 gray">
                                <div th:text="${board.lastThread.dateCreated}"></div>
                            </span>
                        </div>
                        <div th:if="${board.lastReply!=null}">
                            <a th:href="@{/reply/page/list(threadId=${board.lastReply.thread.id},replyId=${board.lastReply.id})}"
                               class="a2">
                                <div th:text="${board.lastReply.title}"></div>
                            </a>
                            <br/>
                            <span class="f12">
                                <a th:href="@{/person/viewInfoById(id=${board.lastReply.author.id})}">
                                    <div th:text="${board.lastReply.author.account}"></div>
                                </a>
                            </span>
                            <span class="f9 gray">
                                <div th:text="${board.lastReply.dateCreated}"></div>
                            </span>
                            &nbsp;
                        </div>
                    </th>
                    <td class="y-style"
                        style="word-break: keep-all;word-wrap:no-wrap">
                        <div th:each="person:${board.administrators}">
                            <a th:href="@{/person/viewInfoById(personId=${person.id})}">
                                <div th:text="${person.account}"></div>
                            </a>
                            &nbsp;
                        </div>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="f_one" colspan="6" style="height:8px"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:include="footer::foot"></div>
</body>
</html>




