<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>所有帖子</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}"/>
</head>
<body>
<div th:include="header::head"></div>

<div id="main">
    <div class="t3" style="margin:8px auto">
        <table width="100%" cellspacing="0" cellpadding="0" align="center">
            <tr>
                <td>
                    <strong class="fl w">
                        <img src="../static/images/index/home_menu.gif" th:src="@{/images/index/home_menu.gif}"
                             align="absmiddle" id="td_cate" onMouseOver="read.open('menu_cate','td_cate');"
                             style="cursor:pointer;"/>
                        <a href="listCategory.html" th:href="@{/category/list(id=${board.categoryId})}">
                            <div style="display: inline-block" th:text="${board.categoryName}"></div>
                        </a>
                        &raquo;
                        <a href="listThread.html" th:href="@{/thread/page/list(boardId=${board.id})}">
                            <div style="display: inline-block" th:text="${board.name}"></div>
                        </a>
                    </strong>
                    <div class="fr w">
                        <a href="setAdmin.html" th:href="@{/board/setAdminPage}">版主</a>
                        :&nbsp;
                        <div th:text="${board.Administrators}"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="c"></div>

    <div class="t3">
        <table width="100%" align="center" cellspacing="0" cellpadding="0">
            <tr>
                <td align="left" valign="middle">
                    <div class="fl">

                        <div class="pages">
                            <div th:include="pagination::page(url='/thread/page/list',boardId=${board.id},current=${page.currentPage},total=${page.totalPage})"></div>
                        </div>

                    </div>
                </td>
                <td style="text-align:right">
                    <a href="addThread.html" th:href="@{/thread/addPage(boardId=${board.id})}">
                        <img src="../static/images/post.png" th:src="@{/images/post.png}"/>
                    </a>
                </td>
            </tr>
        </table>
    </div>


    <div class="t z" style="margin:3px auto">
        <table cellspacing="0" cellpadding="0" width="100%" id="ajaxtable">
            <tr>
                <th class="h" colspan="6">
                    <a href="listThread.html" th:href="@{/thread/page/list(boardId=${board.id})}">
                        <div th:text="${board.name}"></div>
                    </a>
                </th>
            </tr>
            <tbody style="table-layout:fixed;">
            <tr></tr>
            <tr class="tr2">
                <td style="width:5%" class="tac y-style">
                    状态
                </td>
                <td style="width:45%" class="tac">
                    文章
                </td>
                <td style="width:23%" class="y-style">
                    作者
                </td>
                <td style="width:5%" class="y-style">
                    回复
                </td>
                <td style="width:6%" class="y-style">
                    人气
                </td>
                <td style="width:17%" class="y-style">
                    最后回复
                </td>
            </tr>

            <tr align="center" class="tr3 t_one"
                th:each="thread:${page.items}">
                <td>
                    <a title="打开新窗口" href="" th:href="@{/reply/page/list(threadId=${thread.id})}"
                       target="_blank">
                        <img src="../static/images/thread/topichot.gif" th:src="@{/images/thread/topichot.gif}"/>
                    </a>
                </td>
                <td style="text-align:left;padding-left:8px" id="td_579742">
                    <h3>
                        <a href="" th:href="@{/reply/page/list(threadId=${thread.id})}">
                            <div th:text="${thread.title}"></div>
                        </a>
                    </h3>
                </td>
                <td class="tal y-style">
                    <a th:href="@{/person/viewInfoById(personId=${thread.author.id})}" class="bl">
                        <div th:text="${thread.author.account}"></div>
                    </a>
                    <div class="f10" th:text="${thread.dateCreated}"></div>
                </td>
                <td class="tal f10 y-style">
                    <div th:text=" ${thread.replyCount}"></div>
                </td>
                <td class="tal f10 y-style">
                    <div th:text="${thread.hit}"></div>
                </td>
                <td class="tal y-style">
                    &nbsp;
                    <div th:if="${thread.authorLastReplied != null}">
                        <a th:href="@{/person/viewInfoById(personId=${thread.authorLastReplied.id})}" class="bl">
                            <div th:text=" ${thread.authorLastReplied.account}"></div>
                        </a>
                        <div class="f10">
                            <div th:text="${thread.dateLastReplied}"></div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="6" class="f_one" style="height:8px"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="t3">
        <table cellspacing="0" cellpadding="0" width="100%" align="center">
            <tr valign="top">
                <td align="left">

                    <div class="pages">
                        <div th:include="pagination::page(url='/thread/page/list',boardId=${board.id},current=${page.currentPage},total=${page.totalPage})"></div>
                    </div>

                </td>
                <td style="text-align:right;padding-top:5px">
                    <a href="addThread.html" th:href="@{/thread/addPage(boardId=${board.id})}">
                        <img src="../static/images/post.png" th:src="@{/images/post.png}"/>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:include="footer::foot"></div>
</body>
</html>
