<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>添加类别</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}" />
</head>
<body>
<div th:include="header::head"></div>

<div id="main">

    <!-- Thread Start -->
    <div class="t" style="margin-bottom:0px; border-bottom:0">
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <th class="h">
                    <strong class="fl w">查看用户资料</strong> &nbsp;
                </th>
            </tr>
        </table>
    </div>

    <div class="t t2">
        <table cellspacing="0" cellpadding="0" width="100%"
               style="table-layout:fixed;border-top:0">

            <tr class="tr3">
                <td style="width: 120px; ">
                    帐号:
                </td>
                <td>
                    <div th:text="${person.account}"></div>
                    &nbsp;
                </td>
            </tr>
            <tr class="tr3">
                <td>
                    姓名:
                </td>
                <td>
                    <div th:text="${person.name}"></div>
                    &nbsp;
                </td>
            </tr>
            <tr class="tr3">
                <td>
                    性别:
                </td>
                <td>
                    <div th:text="${person.sex}"></div>
                    &nbsp;
                </td>
            </tr>
            <tr class="tr3">
                <td>
                    电子邮件:
                </td>
                <td>
                    <div th:text="${person.email}"></div>
                    &nbsp;
                </td>
            </tr>
            <tr class="tr3">
                <td>
                    生日:
                </td>
                <td>
                    <div th:text="${person.birthday}"></div>
                    &nbsp;
                </td>
            </tr>
            <tr class="tr3">
                <td>
                    注册时间:
                </td>
                <td>
                    <div th:text="${person.dateCreated}"></div>
                    &nbsp;
                </td>
            </tr>
            <tr class="tr3">
                <td>
                    上次登录时间:
                </td>
                <td>
                    <div th:text="${person.dateLastActived}"></div>
                    &nbsp;
                </td>
            </tr>
            <tr class="tr3">
                <td>
                    负责的版面:
                </td>
                <td>
                    <!--<c:forEach items="${ person.boardsAdministrated }" var="board">-->
                    <!--<a-->
                    <!--href="<html:rewrite action="/board?action=list" />&board.id=${ board.id }">${-->
                    <!--board.name }</a>-->
                    <!--</c:forEach>-->
                    <!--&nbsp;-->
                </td>
            </tr>
        </table>
    </div>

</div>

<div th:include="footer::foot"></div>
</body>
</html>